html
    head
        title
        style
            include ../css/style.css 
    body
        div
            ul
                each val in title
                    li=val
            ul
                each con in content
                    li=con

        